@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  font-weight: 400;
  font-display: swap;
  src: local('Manrope'), url('fonts/Manrope-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-display: swap;
  src: local('Manrope'), url('fonts/Manrope-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Manrope';
  font-weight: 600;
  font-display: swap;
  src: local('Manrope'), url('fonts/Manrope-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat'), url('fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat'), url('fonts/Montserrat-SemiBold.woff2') format('woff2');
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
}
